<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script>document.getElementsByTagName("html")[0].className += " js";</script>
  <link rel="stylesheet" href="../public/css/faq.css">
  <title>FAQ</title>
</head>
<body>
<header class="cd-header flex flex-column flex-center" style="background: rgb(60, 60, 233);">
  <div class="text-component text-center">
    <h1>FREQUENTLY ASKED QUESTIONS</h1>
    <h3 style="color: #fff;">If you have any query I request you to please go through FAQ. It will help you alot.</h3>
  </div>
</header>

<a href="/" class="btn btn-success" style="background: green; margin-left: 20px; margin-top: 10px; color: #fff;"><-- Go To Homepage</a>
<section class="cd-faq js-cd-faq container max-width-md margin-top-lg margin-bottom-lg">
	<ul class="cd-faq__categories">
		<li><a class="cd-faq__category cd-faq__category-selected truncate" href="#basics">Web design</a></li>
		<li><a class="cd-faq__category truncate" href="#mobile">Seo</a></li>
		<li><a class="cd-faq__category truncate" href="#account">Logo Design</a></li>
		<li><a class="cd-faq__category truncate" href="#payments">Illustration</a></li>
		<li><a class="cd-faq__category truncate" href="#privacy">Copywriting</a></li>
		<li><a class="cd-faq__category truncate" href="#delivery">Music</a></li>
	</ul> <!-- cd-faq__categories -->

	<div class="cd-faq__items">
		<ul id="basics" class="cd-faq__group">
			<li class="cd-faq__title"><h2 style="color: black;">Web Design and Development</h2></li>
			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span style="color: green;">How much do you charge for a website?</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p>
                There’s not one single answer to this question. A website design is quoted based on the needs of each individual project. 
                Every website is unique and requires different components; we design and develop custom websites specifically for your business.
                 We’ll ask a lot of questions, assess your needs, and give you a price quote based on that assessment.
                  Our smallest package starts at $1000. 
                Please contact us at webintegrator135@gmail.com to begin the quote process started!
            </p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>

			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span style="color: green;">How long will it take to complete my website?</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p>
                Our standard timeline is 3-6 weeks to complete a website but this depends on the project since the size and pace of any
                 project is set by each client. How much input you can provide during the initial stages, your feedback, how soon the content 
                 is provided – all this affects the speed of completion. 
                The functionality and revisions required will also play a role in your timeline.
            </p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>

			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span style="color: green;">Does your team can maintain website for us?</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p>We can help maintain your website, or you can do so yourself with the more minor changes.
                The choice is 100% up to you. We provide on-going support for many of our clients but it is not 
                mandatory and you will not be charged a monthly fee. 
                You can contact us as you require updates to your website and we will provide an hourly quote based on your requests.</p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>

			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span style="color: green;">Once you make the website. Can we maintain our website on our own?</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p>Yes! We love it when our clients take control of their website and learn to manage the content on their own website. 
                You will have full access to the backend of your new WordPress website upon migration to make simple text updates, 
                photograph changes, new products and pricing can easily be changed on your own. However, we do recommend a professional (developer) to complete more complex changes and maintenance such as plugin updates, design or structure changes, and complex functionality requirements. We provide hourly tutorials upon completion of your website at $120 + HST per hour 
                if you are interested in learning how to navigate through the backend to make minor updates independently.</p>
          </div>
				</div> <!-- cd-faq__content -->
            </li>
            <li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span style="color: green;">Do you also provide web hosting and domain?</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p>
                No, you will be responsible for website hosting and domain. This will ensure that you will have full access 
                to your website upon migration.  However, we can recommend hosting packages to you (SiteGround, Godaddy and Bluehost) 
                and we will complete the migration to your new hosting including in our website design package pricing.
            </p>
          </div>
				</div> <!-- cd-faq__content -->
            </li>
            <li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span style="color: green;">Will our website be mobile friendly?</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p>Absolutely! Having a mobile-friendly website is more important than ever! We work hard to ensure your website is responsive on modern devices and browsers.</p>
          </div>
				</div> <!-- cd-faq__content -->
            </li>
            <li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span style="color: green;">Do you only creates wordpress website?</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p>No it totally depends on you. we make website through coding also. Beacause hard core website very easy to upgrade and customized in future.
                whereas wordpress website lacks upgradation.
            </p>
          </div>
				</div> <!-- cd-faq__content -->
            </li>
            <li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span style="color: green;">Is seo included in my website?</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p>No, the build of your website does not include monthly SEO. All items that we add to your website including text,
                 photos and video can be seen by Google but that doesn’t mean you will rank #1.  We do, however, provide top notch monthly SEO 
                services with our team of specialists who are ready to assist with your SEO needs</p>
          </div>
				</div> <!-- cd-faq__content -->
            </li>
            <li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span style="color: green;">Do you work with small and new business?</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p>Yes! we work with all types of businesses – new, small, to big corporations. We are excited to work and guide new businesses 
                who are passionate about taking their first steps into an online presence and making their vision come to life.</p>
          </div>
				</div> <!-- cd-faq__content -->
            </li>
            <li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span style="color: green;">What forms of payment do you accept?</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p>We accept credit cards, debit card, visa card. But paypal will be helpful.</p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>
		</ul> <!-- cd-faq__group -->

		<ul id="mobile" class="cd-faq__group">
			<li class="cd-faq__title"><h2 style="color: black;">Seo</h2></li>
			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span style="color: green;">What does SEO stands for?</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p>Basically, SEO stands for search Engine Optimization. Seo helps in ranking up your website. It has many features like on-page seo and off-page seo.</p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>

			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span style="color: green;">How much does SEO cost?</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p>To answer this question our SEO team would need to know more information about your business. 
                We can tell you one thing though, from our 14+ years of analysing thousands of SEO campaigns, 
                the biggest reason why most campaigns fail (possibly yours in the past too), is that the company 
                fails to properly assess the amount of work required to get you a great result and ROI.
                That being said, our SEO packages range from $1000-10,000 per month with no-contract.</p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>

			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span style="color: green;">What is ROI on SEO?</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p>Generally more than you could ever imagine. We’ve had clients grow their online sales by 1000% in 16-months, 
                which represented an ROI of over 20X. However, the true value in SEO is that the traffic and leads you acquire 
                last for a very long time.
                For example – our SEO specialists did the calculations and a Plumber in Toronto, from a 12-month custom SEO campaign could receive over 25X their money back in profit over the 12-months after their campaign is completed. Yet in the following 12-months, 
                when they aren’t spending on SEO, their ROI jumps as high as 50X!</p>
          </div>
				</div> <!-- cd-faq__content -->
            </li>
            <li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span style="color: green;">what is on-page SEO</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p>On-page SEO is the practice of optimizing individual web pages in order to rank higher 
                and earn more relevant traffic in search engines. On-page refers to both the content and 
                HTML source code of a page that can be optimized, 
                as opposed to off-page SEO which refers to links and other external signals.</p>
          </div>
				</div> <!-- cd-faq__content -->
            </li>
            <li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span style="color: green;">I have used SEO before and it hasn't worked why are you different?</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p>
                Due to four major reasons your SEO didn't work:- <br>
                <b>1. You have been ripped off by scammers </b> <br>
                <b>2. You were working with a website designer, developer, or marketing agency </b> <br>
                <b>3. Your SEO company didn’t know what they were doing</b> <br>
                <b>4. Your company didn’t do enough to beat tough competition</b>
            </p>
          </div>
				</div> <!-- cd-faq__content -->
            </li>
            <li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span style="color: green;">Will you manage my social Media?</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p>Sorry! We don't do that here.</p>
          </div>
				</div> <!-- cd-faq__content -->
            </li>
            <li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span style="color: green;">Is SEO dead?</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p>While SEO isn’t dead, over the years, elements of it have either died or evolved into something totally new. As a result, outdated SEO tactics can now actively kill your rankings on Google.</p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>
		</ul> <!-- cd-faq__group -->

		<ul id="account" class="cd-faq__group">
			<li class="cd-faq__title"><h2 style="color: black;">Logo Design</h2></li>
			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span style="color: green;">What is your Logo design Process?</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p>
                <b>1. Get to know my client business.</b> <br>
                <b>2. Conduct research focused on the industry, its history, and competitors.</b> <br>
                <b>3. Brainstorming on the possible design directions.</b> <br>
                <b>4. Sketching and conceptualizing ideas with a pencil and paper.</b> <br>
                <b>5. First variation of logos are created.</b> <br>
                <b>6. Presentation to our client.</b> <br>
                <b>7. Revisions and modifications.</b> <br>
                <b>8. Colour choices and variations.</b> <br>
                <b>9. Revisions and modifications.</b> <br>
                <b>10. Delivery of final files.</b>
            </p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>

			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span style="color: green;">Why do you charge so high for a logo?</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p>There’s a huge difference in terms of quality and service, between working with a $100 logo designer, and a reputable professional design agency.

                Designing a logo with or without outside support is an iterative and multi-step process that involves consultations, research, brainstorming, sketches, and several design concepts, revisions and much more.
                
                That’s why custom logo packages can wildly range not only in price—from relatively free to hundreds of thousands of dollars—but the amount of time and effort needed to get the job done.</p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>

			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span style="color: green;">Is there any involvement of client during design processs?</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p>Yeah, We encourage the client to bring in any samples, colour combinations/swatches, and ideas they may have to help us get an idea of style before starting to work with new clients. During the design process, the client is asked to review, provide feedback and revisions.</p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>

			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span style="color: green;">Is your service world wide?</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p>Yes!</p>
          </div>
				</div> <!-- cd-faq__content -->
            </li>
            <li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span style="color: green;">Will i own my Logo when it's done?</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p>Yes, you will own your finalized logo.  However, we do not offer any patent/trademark registration – this is a separate process that is optional on your end.</p>
          </div>
				</div> <!-- cd-faq__content -->
            </li>
            <li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span style="color: green;">Do you only creates Logo design?</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p>No! We more service like web design, seo, copywriting, music production, illustration.</p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>
		</ul> <!-- cd-faq__group -->

		<ul id="payments" class="cd-faq__group">
			<li class="cd-faq__title"><h2 style="color: black;">ILLUSTRATION</h2></li>
			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span style="color: green;">What is Illustration?</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p>Illustration means "making ideas clearer by giving examples or by using. diagrams or pictures". An example is always one of a larger "set" or "class", eg Mercury is an. example of an element. Exemplification and illustration are common techniques in academic writing.</p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>

			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span style="color: green;">How much does it cost?</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p>For clarity you can see our pricing section. Our Lowest price for illustration is $450.</p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>

			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span style="color: green;">Does this help in my business growth?</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p>Yeah!</p>
          </div>
				</div> <!-- cd-faq__content -->
            </li>
            <li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span style="color: green;">Do i need to sign a contract with you?</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p>You can contact me through mail provided in my website. Or just you can fill the form</p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>
		</ul> <!-- cd-faq__group -->

		<ul id="privacy" class="cd-faq__group">
			<li class="cd-faq__title"><h2 style="color: black;">CLOUD COMPUTING</h2></li>
			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span style="color: green;">First tell what is this term?</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p>
              Simply put, cloud computing is the delivery of computing services—including servers, storage, databases, networking, software, analytics, 
              and intelligence—over the Internet (“the cloud”) to offer faster innovation, flexible resources, and economies of scale
            </p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>

			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span style="color: green;">How much do you charge?</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p>
                It also depends on your projects.
            </p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>

		</ul> <!-- cd-faq__group -->

		<ul id="delivery" class="cd-faq__group">
			<li class="cd-faq__title"><h2 style="color: black;">BLOCKCHAIN</h2></li>
			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span style="color: green;">What is blockchain?</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p>
              Blockchain is a specific type of database.
                
            </p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>

			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span style="color: green;">What is smart contract?</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p>Smart contracts are lines of code that are stored on a blockchain and automatically execute when predetermined terms and conditions are met. At the most basic level, 
              they are programs that run as they've been set up to run by the people who developed them
            </p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>

			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span style="color: green;">How much do you charge?</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p>We charge according to the project requirements</p>
          </div>
				</div> <!-- cd-faq__content -->
            </li>
            
  
        <li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span style="color: green;">How long will it take to make projects?</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p>It depends on your requirements and the complexity of your projects</p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>
		</ul> <!-- cd-faq__group -->
	</div> <!-- cd-faq__items -->

	<a href="#0" class="cd-faq__close-panel text-replace">Close</a>
  
  <div class="cd-faq__overlay" aria-hidden="true"></div>
</section> <!-- cd-faq -->
<script src="../public/js/util.js"></script> <!-- util functions included in the CodyHouse framework -->
<script src="../public/js/main.js"></script> 
</body>
</html>