<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/base.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>illustration pricing</title>
</head>
<body>

    <section class="price-table">
        <div class="container">
            <a href="/" class="btn btn-success"><i class="fa fa-long-arrow-left"></i>Go to Homepage</a>
            <h1>ILLUSTRATION PRICING PLAN</h1>
            <P class="text-center">Illustration is a decoration interpretation or visual explanation of an <b>emotion or concept</b>.
                It is designed for integration in published media such as poster, flyers, magazines, books, teaching material, animation.
                It helps your brands to have a different identity.
            </P>
            <div class="row">
                <div class="col-md-3">
                    <div class="single-price">
                        <div class="price-head">
                            <h2>Bronze</h2>
                            <p>$450<span>MINIMUM</span></p>
                        </div>
                        <div class="price-content">
                            <ul>
                                <li><i class="fa fa-check-circle-o"></i>Illustration</li>
                                <li><i class="fa fa-check-circle-o"></i>Hire by the hour</li>
                                <li><i class="fa fa-check-circle-o"></i>Client - All copyright ownership</li>
                                <li><i class="fa fa-check-circle-o"></i>Web files jpeg, png, GIF</li>
                                <li><i class="fa fa-check-circle-o"></i>Sources Files AI, EPS, VECTOR</li>
                                <li><i class="fa fa-check-circle-o"></i>5GB sapce</li>
                                <li><i class="fa fa-check-circle-o"></i>Initial Concepts</li>
                            </ul>
                        </div>
                        <div class="price-bottom">
                            <a href="/#contact" class="buy-btn">GET THIS PLAN</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="single-price">
                        <div class="price-head">
                            <h2>Silver</h2>
                            <p>$750<span>MINIMUM</span></p>
                        </div>
                        <div class="price-content">
                            <ul>
                                <li><i class="fa fa-check-circle-o"></i>Custom Illustration</li>
                                <li><i class="fa fa-check-circle-o"></i>One-on-One Brainstorm</li>
                                <li><i class="fa fa-check-circle-o"></i>1 Initial concept Design</li>
                                <li><i class="fa fa-check-circle-o"></i>Client - All copyright ownership</li>
                                <li><i class="fa fa-check-circle-o"></i>Web Files jpeg, png, GIF</li>
                                <li><i class="fa fa-check-circle-o"></i>Sources Files AI, EPS, VECTOR</li>                            
                            </ul>
                        </div>
                        <div class="price-bottom">
                            <a href="/#contact" class="buy-btn">GET THIS PLAN</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="single-price">
                        <div class="price-head">
                            <h2>Gold</h2>
                            <p>$1000<span>MINIMUM</span></p>
                        </div>
                        <div class="price-content">
                            <ul>
                                <li><i class="fa fa-check-circle-o"></i>Custom Illustration</li>
                                <li><i class="fa fa-check-circle-o"></i>One-on-One Brainstorm</li>
                                <li><i class="fa fa-check-circle-o"></i>3 Initial Concepts</li>
                                <li><i class="fa fa-check-circle-o"></i>Client - All copyright ownership</li>
                                <li><i class="fa fa-check-circle-o"></i>Web Files jpeg, png, GIF</li>
                                <li><i class="fa fa-check-circle-o"></i>Sources Files AI, EPS, VECTOR</li>
                            </ul>
                        </div>
                        <div class="price-bottom">
                            <a href="/#contact" class="buy-btn">GET THIS PLAN</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="single-price">
                        <div class="price-head">
                            <h2>Platinum</h2>
                            <p>$1500<span>MINIMUM</span></p>
                        </div>
                        <div class="price-content">
                            <ul>
                                <li><i class="fa fa-check-circle-o"></i>Custom Illustration</li>
                                <li><i class="fa fa-check-circle-o"></i>One-on-One Brainstorm</li>
                                <li><i class="fa fa-check-circle-o"></i>5 Initial Illustration Concepts</li>
                                <li><i class="fa fa-check-circle-o"></i>3 Revisions to Top Design</li>
                                <li><i class="fa fa-check-circle-o"></i>Client - All copyright ownership</li>
                                <li><i class="fa fa-check-circle-o"></i>Web Files jpeg, png, GIF</li>
                                <li><i class="fa fa-check-circle-o"></i>Sources Files AI, EPS, VECTOR</li>
                            </ul>
                        </div>
                        <div class="price-bottom">
                            <a href="/#contact" class="buy-btn">GET THIS PLAN</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>