<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/base.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>logo pricing</title>
</head>
<body>

    <section class="price-table">
        <div class="container">
            <a href="/" class="btn btn-success"><i class="fa fa-long-arrow-left"></i>Go to Homepage</a>
            <h1>LOGO PRICING PLAN</h1>
            <P class="text-center">We prefer to create most effective <b>Brands</b>. Beacause well designed logos have power. 
                Line affects mood.Color send signals. The right design choice elevates your brand and connect
                you to your target audience.
            </P>
            <div class="row">
                <div class="col-md-4">
                    <div class="single-price">
                        <div class="price-head">
                            <h2>Bronze</h2>
                            <p>$1000<span>ONLY</span></p>
                        </div>
                        <div class="price-content">
                            <ul>
                                <li><i class="fa fa-check-circle-o"></i>Consultation</li>
                                <li><i class="fa fa-check-circle-o"></i>Client Brainstorm</li>
                                <li><i class="fa fa-check-circle-o"></i>Three Initial Logo Design</li>
                                <li><i class="fa fa-check-circle-o"></i>Preparing Multiple Colors</li>
                                <li><i class="fa fa-check-circle-o"></i>Two rounds of revision</li>
                                <li><i class="fa fa-check-circle-o"></i>Finalization of Logo</li>
                                <li><i class="fa fa-check-circle-o"></i>Files provided - jpeg, png, vector</li>
                            </ul>
                        </div>
                        <div class="price-bottom">
                            <a href="/#contact" class="buy-btn">GET THIS PLAN</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single-price">
                        <div class="price-head">
                            <h2>Silver</h2>
                            <p>$2500<span>ONLY</span></p>
                        </div>
                        <div class="price-content">
                            <ul>
                                <li><i class="fa fa-check-circle-o"></i>Consultation</li>
                                <li><i class="fa fa-check-circle-o"></i>Client Brainstorm</li>
                                <li><i class="fa fa-check-circle-o"></i>Reasearch the Competition</li>
                                <li><i class="fa fa-check-circle-o"></i>Preparing Multiple Colors</li>
                                <li><i class="fa fa-check-circle-o"></i>Compostions Variations</li>
                                <li><i class="fa fa-check-circle-o"></i>Three rounds of Revisions</li>
                                <li><i class="fa fa-check-circle-o"></i>Finalization of Logo</li>
                                <li><i class="fa fa-check-circle-o"></i>Files provided - jpeg, png, vector</li>
                            </ul>
                        </div>
                        <div class="price-bottom">
                            <a href="/#contact" class="buy-btn">GET THIS PLAN</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single-price">
                        <div class="price-head">
                            <h2>Gold</h2>
                            <p>$4000<span>ONLY</span></p>
                        </div>
                        <div class="price-content">
                            <ul>
                                <li><i class="fa fa-check-circle-o"></i>Consultation</li>
                                <li><i class="fa fa-check-circle-o"></i>Client Brainstorm</li>
                                <li><i class="fa fa-check-circle-o"></i>Research the Competition</li>
                                <li><i class="fa fa-check-circle-o"></i>Ten Initial Logo Design</li>
                                <li><i class="fa fa-check-circle-o"></i>Preparing Multiple Colors</li>
                                <li><i class="fa fa-check-circle-o"></i>Compostion Variations</li>
                                <li><i class="fa fa-check-circle-o"></i>Three rounds of Revisions</li>
                                <li><i class="fa fa-check-circle-o"></i>Vertical and Horizontal Logo Lookup</li>
                                <li><i class="fa fa-check-circle-o"></i>Style Guide</li>
                                <li><i class="fa fa-check-circle-o"></i>Files provided - jpeg, png, vector</li>
                            </ul>
                        </div>
                        <div class="price-bottom">
                            <a href="/#contact" class="buy-btn">GET THIS PLAN</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>