<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/base.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>seo pricing</title>
</head>
<body>
    <section class="price-table">
        <div class="container">
            <a href="/" class="btn btn-success"><i class="fa fa-long-arrow-left"></i>Go to Homepage</a>
            <h1>SEO PRICING PLAN</h1>
            <P class="text-center">If your business is not reaching where it should be then you must do <b>SEO</b>.
            If you want to rank up your website on the search engine like Google. We used our skills to create our values, our structure
            , process and custom digital marketing strategies.
            </P>
            <div class="row">
                <div class="col-md-4">
                    <div class="single-price">
                        <div class="price-head">
                            <h2>ESSENTIAL PLAN</h2>
                            <p>$1000/<span>month</span></p>
                        </div>
                        <div class="price-content">
                            <ul>
                                <li><i class="fa fa-check-circle-o"></i>Website audit</li>
                                <li><i class="fa fa-check-circle-o"></i>Custom SEO Design</li>
                                <li><i class="fa fa-check-circle-o"></i>Keywords Research</li>
                                <li><i class="fa fa-check-circle-o"></i>On-Page SEO</li>
                                <li><i class="fa fa-check-circle-o"></i>Off-Page SEO</li>
                                <li><i class="fa fa-check-circle-o"></i>Link Building</li>
                                <li><i class="fa fa-check-circle-o"></i>Monthly Reporting</li>
                            </ul>
                        </div>
                        <div class="price-bottom">
                            <a href="/#contact" class="buy-btn">3 Months $2,700 <p>(10% discount saves you $300)</p></a>
                            <a href="/#contact" class="buy-btn">6 Months $5,100 <p>(10% discount saves you $900)</p></a>
                            <a href="/#contact" class="buy-btn">3 Months $9,600 <p>(10% discount saves you $1,240)</p></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single-price">
                        <div class="price-head">
                            <h2>ENTERPRISE PLAN</h2>
                            <p>$2500/<span>month</span></p>
                        </div>
                        <div class="price-content">
                            <ul>
                                <li><i class="fa fa-check-circle-o"></i>Website audit</li>
                                <li><i class="fa fa-check-circle-o"></i>Custom SEO Design</li>
                                <li><i class="fa fa-check-circle-o"></i>Keywords Research</li>
                                <li><i class="fa fa-check-circle-o"></i>On-Page SEO</li>
                                <li><i class="fa fa-check-circle-o"></i>Off-Page SEO</li>
                                <li><i class="fa fa-check-circle-o"></i>Link Building</li>
                                <li><i class="fa fa-check-circle-o"></i>Monthly Reporting</li>
                            </ul>
                        </div>
                        <div class="price-bottom">
                            <a href="/#contact" class="buy-btn">3 Months $6,750  <p>(10% discount saves you $1,000)</p></a>
                            <a href="/#contact" class="buy-btn">6 Months $13,500 <p>(10% discount saves you $1,500)</p></a>
                            <a href="/#contact" class="buy-btn">3 Months $24,000 <p>(10% discount saves you $6,000)</p></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single-price">
                        <div class="price-head">
                            <h2>CORPORATE PLAN</h2>
                            <p>$5000+/<span>month</span></p>
                        </div>
                        <div class="price-content">
                            <ul>
                                <li><i class="fa fa-check-circle-o"></i>Website audit</li>
                                <li><i class="fa fa-check-circle-o"></i>Custom SEO Design</li>
                                <li><i class="fa fa-check-circle-o"></i>Keywords Research</li>
                                <li><i class="fa fa-check-circle-o"></i>On-Page SEO</li>
                                <li><i class="fa fa-check-circle-o"></i>Off-Page SEO</li>
                                <li><i class="fa fa-check-circle-o"></i>Link Building</li>
                                <li><i class="fa fa-check-circle-o"></i>Monthly Reporting</li>
                            </ul>
                        </div>
                        <div class="price-bottom">
                            <a href="/#contact" class="buy-btn">3 Months $13,500 <p>(10% discount saves you $1,500)</p></a>
                            <a href="/#contact" class="buy-btn">6 Months $25,500 <p>(15% discount saves you $4,500)</p></a>
                            <a href="/#contact" class="buy-btn">3 Months $48,000 <p>(20% discount saves you $12,000)</p></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>