<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/base.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>webdesign pricing</title>
</head>
<body>

    <section class="price-table">
        <div class="container">
            <a href="/" class="btn btn-success"><i class="fa fa-long-arrow-left"></i>Go to Homepage</a>
            <h1>WEBSITE DESIGN PRICING PLAN</h1>
            <P class="text-center">We are fearless technical group of poeple. We would love to collaborate with you and work with you
                .We are excellent in first listening to you and then acting on your needs to deliver a successful <b>web designs</b>.
                Our team cubeicles experts are equipped with technical knowledge experience and passion needed to get the job done.
            </P>
            <div class="row">
                <div class="col-md-3">
                    <div class="single-price">
                        <div class="price-head">
                            <h2>Bronze</h2>
                            <p>$900<span>MINIMUM</span></p>
                        </div>
                        <div class="price-content">
                            <ul>
                                <li><i class="fa fa-check-circle-o"></i>Wordpress Template</li>
                                <li><i class="fa fa-check-circle-o"></i>1 Hour Brainstorm</li>
                                <li><i class="fa fa-check-circle-o"></i>Customization of themes</li>
                                <li><i class="fa fa-check-circle-o"></i>Mobile Responsive</li>
                                <li><i class="fa fa-check-circle-ocheck>Social-o Media Inegration</li>
                                <li><i class="fa fa-check-circle-o"></i>Mailing List Plugin</li>
                                <li><i class="fa fa-check-circle-o"></i>Contact Form</li>
                                <li><i class="fa fa-check-circle-o"></i>Goole Map</li>
                                <li><i class="fa fa-check-circle-o"></i>Photo sourcing</li>
                                <li><i class="fa fa-check-circle-o"></i>2 Rouns of revision</li>
                            </ul>
                        </div>
                        <div class="price-bottom">
                            <a href="/#contact" class="buy-btn"><i class="fa fa-arrow-right"></i>3 PAGE WEBSITE- $1,400</a>
                            <a href="/#contact" class="buy-btn"><i class="fa fa-arrow-right"></i>5 PAGE WEBSITE- $2,000</a>
                            <a href="/#contact" class="buy-btn"><i class="fa fa-arrow-right"></i>10 PAGE WEBSITE- $3,500</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="single-price">
                        <div class="price-head">
                            <h2>Silver</h2>
                            <p>$1500<span>MINIMUM</span></p>
                        </div>
                        <div class="price-content">
                            <ul>
                                <li><i class="fa fa-check-circle-o"></i>Customized WP themes</li>
                                <li><i class="fa fa-check-circle-o"></i>1 Hour Brainstorm</li>
                                <li><i class="fa fa-check-circle-o"></i>Mobile Responsive</li>
                                <li><i class="fa fa-check-circle-o"></i>Social Media Integration</li>
                                <li><i class="fa fa-check-circle-o"></i>4 Custom Icons</li>
                                <li><i class="fa fa-check-circle-o"></i>Google Maps</li>
                                <li><i class="fa fa-check-circle-o"></i>Mailing List Plugin</li>
                                <li><i class="fa fa-check-circle-o"></i>Contact Form</li>
                                <li><i class="fa fa-check-circle-o"></i>Google Analytics</li>
                                <li><i class="fa fa-check-circle-o"></i>Social Sharing</li>
                                <li><i class="fa fa-check-circle-o"></i>404 Redirect</li>
                                <li><i class="fa fa-check-circle-o"></i>XML sitemap</li>
                                <li><i class="fa fa-check-circle-o"></i>3 rounds of revision</li>
                            </ul>
                        </div>
                        <div class="price-bottom">
                            <a href="/#contact" class="buy-btn"><i class="fa fa-arrow-right"></i>3 PAGE WEBSITE- $2,000</a>
                            <a href="/#contact" class="buy-btn"><i class="fa fa-arrow-right"></i>5 PAGE WEBSITE- $2,500</a>
                            <a href="/#contact" class="buy-btn"><i class="fa fa-arrow-right"></i>10 PAGE WEBSITE- $4,500</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="single-price">
                        <div class="price-head">
                            <h2>Gold</h2>
                            <p>$5000<span>MINIMUM</span></p>
                        </div>
                        <div class="price-content">
                            <ul>
                                <li><i class="fa fa-check-circle-o"></i>Website From Scratch</li>
                                <li><i class="fa fa-check-circle-o"></i>Custom Wordpress CMS</li>
                                <li><i class="fa fa-check-circle-o"></i>1 Hour Brainstorm</li>
                                <li><i class="fa fa-check-circle-o"></i>Mobile Responsive</li>
                                <li><i class="fa fa-check-circle-o"></i>Social Media Integration</li>
                                <li><i class="fa fa-check-circle-o"></i>6 Custom Icons</li>
                                <li><i class="fa fa-check-circle-o"></i>Google Maps</li>
                                <li><i class="fa fa-check-circle-o"></i>Mailing List Plugin</li>
                                <li><i class="fa fa-check-circle-o"></i>Contact Form</li>
                                <li><i class="fa fa-check-circle-o"></i>Social Sharing</li>
                                <li><i class="fa fa-check-circle-o"></i>Photo sourcing</li>
                                <li><i class="fa fa-check-circle-o"></i>404 Redirect</li>
                                <li><i class="fa fa-check-circle-o"></i>XML sitemap</li>
                                <li><i class="fa fa-check-circle-o"></i>Google Analytics</li>
                                <li><i class="fa fa-check-circle-o"></i>2 Hour 'How To' Tutorial</li>
                                <li><i class="fa fa-check-circle-o"></i>3 rounds of revision</li>
                            </ul>
                        </div>
                        <div class="price-bottom">
                            <a href="/#contact" class="buy-btn"><i class="fa fa-arrow-right"></i>3 PAGE WEBSITE- $6,000</a>
                            <a href="/#contact" class="buy-btn"><i class="fa fa-arrow-right"></i>5 PAGE WEBSITE- $6,900</a>
                            <a href="/#contact" class="buy-btn"><i class="fa fa-arrow-right"></i>10 PAGE WEBSITE- $8,000</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="single-price">
                        <div class="price-head">
                            <h2>Platinum</h2>
                            <p>$6000<span>MINIMUM</span></p>
                        </div>
                        <div class="price-content">
                            <ul>
                                <li><i class="fa fa-check-circle-o"></i>Website through Hard coding</li>
                                <li><i class="fa fa-check-circle-o"></i>Website From Scratch</li>
                                <li><i class="fa fa-check-circle-o"></i>Custom Wordpress CMS</li>
                                <li><i class="fa fa-check-circle-o"></i>1 Hour Brainstorm</li>
                                <li><i class="fa fa-check-circle-o"></i>Mobile Responsive</li>
                                <li><i class="fa fa-check-circle-o"></i>Social Media Integration</li>
                                <li><i class="fa fa-check-circle-o"></i>6 Custom Icons</li>
                                <li><i class="fa fa-check-circle-o"></i>Google Maps</li>
                                <li><i class="fa fa-check-circle-o"></i>Mailing List Plugin</li>
                                <li><i class="fa fa-check-circle-o"></i>Contact Form</li>
                                <li><i class="fa fa-check-circle-o"></i>Social Sharing</li>
                                <li><i class="fa fa-check-circle-o"></i>Photo sourcing</li>
                                <li><i class="fa fa-check-circle-o"></i>404 Redirect</li>
                                <li><i class="fa fa-check-circle-o"></i>XML sitemap</li>
                                <li><i class="fa fa-check-circle-o"></i>Google Analytics</li>
                                <li><i class="fa fa-check-circle-o"></i>2 Hour 'How To' Tutorial</li>
                                <li><i class="fa fa-check-circle-o"></i>3 rounds of revision</li>
                            </ul>
                        </div>
                        <div class="price-bottom">
                            <a href="/#contact" class="buy-btn"><i class="fa fa-arrow-right"></i>3 PAGE WEBSITE- $6,500</a>
                            <a href="/#contact" class="buy-btn"><i class="fa fa-arrow-right"></i>5 PAGE WEBSITE- $7,200</a>
                            <a href="/#contact" class="buy-btn"><i class="fa fa-arrow-right"></i>10 PAGE WEBSITE- $8,500</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>